@import "compass";
@import "compass/reset";
@import "coderay.css.scss";

body {
	font:14px arial;
	background:#333;
	#main {

		width:750px;
		padding:25px;;
		margin:50px auto;
		@include clearfix();
		background:#FFF;

		h1 {
		font-size:300%;
		margin:0 0 25px;
		}
	}
}

#content {
	// float:left;
	margin:50px 0;
	color:white;
	height:250px;
	width:750px;

	.slide {

		.slide-content {
			
			.caption {
				p {
					padding:5px;
				}
			}
		}
	}

}
.control-panel {

	.prev-container {
		position:absolute;
		top:-20px;
		left:0;
		
		.prev {
			font-size:14px;
			color:black;

			&:hover {
				cursor:pointer;	
			}	
		}
	}
	.next, .prev {
	
		&.disabled {
			display:none;
		}
	}
	.next-container {
		position:absolute;
		top:-20px;
		left:40px;
	
		.next {
			font-size:14px;
			color:black;

			&:hover {
				cursor:pointer;	
			}
		}
	}

	.controls {
		padding:0;
		margin:0;
		font-size:14px;
		background:black;
		position:absolute;
		bottom:-20px;
		right:0;
	
		.control {
			 list-style:none;
			 float:left;

			&:hover {
				cursor:pointer;	
			}

			&.active {

				 span {
				   color:white; 
				 }

			}
		
			span {
				color:grey;
				padding:5px;
			}
		}
	}
}
#content-2, #content-3 {
	@extend #content;
}

@import 'jquery.slideshow.css.scss';