<% content_for :head do %>
  <title>A Simple Jquery Slideshow</title>
<% end %>
<h1>Simple Slide</h1>
<p>This simple Jquery slideshow 
<section id="content" class="slideshow">
  <% 10.times do |i| %>
    <article class="slide">
      <%= image_tag("slideshow-1/#{i + 1}.jpeg") %>
        <div class="caption">
          <p><%= data.slides.captions[i] %></p>
        </div>
    </article>
  <% end %>
</section>

<section id="content-2" class="slideshow">
  <% 10.times do |i| %>
    <article class="slide">
      <%= image_tag("slideshow-1/#{i + 1}.jpeg") %>
        <div class="caption">
          <p><%= data.slides.captions[i] %></p>
        </div>
    </article>
  <% end %>
</section>
